{% extends 'main.html' %}
{% block title %} Home Page {% endblock title %}

{% block content%}
<h1>Home Page</h1>
<div>
    <a href="{% url 'base:create_room' %}"> Create Room</a>
    <br>
    <br>
    <br>
    <div>
        {% for room in rooms %}
        <div>
            <a href="{% url 'base:update_room' room.id %}">Edit</a>
            <a href="{% url 'base:delete_room' room.id %}">Delete</a>

            <span>@{{room.host.username}}</span>
            <h5>{{room.id}} -- <a href="{{room.get_absolute_url}}">{{ room.name }}</a></h5>
            <small>{{room.topic.name}}</small>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}